/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Limit container width for better readability */
  width: 100%; /* Ensure container fills the available space */
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: calc(100% - 16px); /* Adjust width to account for padding and border */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Make button fill the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

button:hover {
  background-color: #0056b3;
}

#message {
  text-align: center;
  margin-top: 10px;
}

#addedKostka {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

#Remove-Cube {
  background-color: #dc3545;
}

#Remove-Cube:hover {
  background-color: #dc3545;
}

